<div class="menu">
    <ul>
      <li><a href="#">Inicio</a></li>
      <li><a href="#">Servicios</a></li>
      <li><a href="#">Acerca de</a></li>
      <li><a href="#">Contacto</a></li>
      <li><a href="#">Testimonios</a></li>
    </ul>
  </div>
  
  <div class="image"></div>
  
  <div class="description">
    <h1>Encuentra la mejor plataforma de monitoreo de alertas de seguridad para PYMES</h1>
    <p>Nuestra plataforma proporciona una solución integral para pequeñas y medianas empresas, ofreciéndoles monitoreo en tiempo real y alertas de seguridad personalizadas para garantizar la protección de sus activos más importantes.</p>
  </div>
  
  <div class="footer">
    <div class="footer-content">
      <ul class="footer-links">
            <li><a href="#">Contacto</a></li>
            <li><a href="#">Ayuda</a></li>
            <li><a href="#">Información</a></li>
            <li><a href="#">Política de Privacidad</a></li>
            <li><a href="#">Términos y Condiciones</a></li>
      </ul>
        <p>© 2025 Mi Empresa. Todos los derechos reservados.</p>
    </div>
  </div>