<div class="container">
  <!-- Sidebar (Menú Lateral) -->
  <div class="sidebar">
    <ul class="menu">
      <li><button (click)="toggleAlertas()">Alertas</button></li>
      <li><button (click)="toggleEstadisticas()">Estadísticas</button></li>
      <li><button (click)="toggleConfiguraciones()">Configuraciones</button></li>
    </ul>
  </div>

  <!-- Contenido principal -->
  <div class="content">
    <h2>Bienvenido a PYMES Shield</h2>
    <p>Verifica las últimas notificaciones de tu cuenta.</p>

    <!-- Mostrar las alertas solo cuando showAlertas sea true -->
    <div *ngIf="showAlertas" class="alertas">
      <h3>Lista de Alertas</h3>
      <ul>
        <li *ngFor="let alerta of alertas">
          <h4>{{ alerta.name }}</h4>
          <p>{{ alerta.content }}</p>
        </li>
      </ul>
    </div>

    <!-- Mostrar las estadísticas solo cuando showEstadisticas sea true -->
    <div *ngIf="showEstadisticas" class="estadisticas">
      <h3>Estadísticas</h3>
      <ul>
        <li *ngFor="let estadistica of estadisticas">
          <h4>{{ estadistica.name }}</h4>
          <p>{{ estadistica.value }}</p>
        </li>
      </ul>
    </div>

    <!-- Mostrar configuraciones solo cuando showconfig sea true -->
    <div *ngIf="showconfig" class="configuraciones">
      <h3>Configuraciones</h3>
      <p>Aquí puedes gestionar las configuraciones de tu cuenta.</p>
    </div>
  </div>

  <!-- Botón de cerrar sesión -->
  <button class="logout-btn" (click)="logout()">
    Cerrar sesión
  </button>
</div>
